body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}
p{
    font-size: 14px;
}
/*ENTÊTE*/

header{
    background-color: rgb(169, 193, 245);
    padding: 1%;
    padding-left: 105px;
}
h1{
    font-size: 64px;
    color: white;
    font-weight: bold;
    margin: 0;
}
.tete2{ 
    font-size: 36px;
    color: rgb(24, 24, 150);
    font-weight: bold;}

/*MENU NAV*/
.realnav{
    background-color: rgb(153, 107, 107);
    padding: 3px;
    padding-left: 73px;
    font-size: 17px;
}
li{
    display:inline;
}
.textmenu >a{
    text-decoration: none;
    color: white;
}
.textmenu2 >a{
    color: rgb(56, 13, 5);
}

/*MAIN*/
main{
    margin-left: 170px;
}
.main-image{
    height: 300px;
    background: url(aflower.jpg);
    margin-top: 3%;
    margin-right: 12%;
    background-size: cover;
}
/*MAIN PREMIER PARAGRAPHE*/

.maintext{
    background-color:rgb(196, 196, 196) ;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 35%;
}
.titreP{
    font-size: 32px;
}
.maintext> p{
    padding-top: 20px
}
.endessous{
    font-size: 18px;
    display: block;
    
}
.minitext{
 font-size: 14px;
}
.baseminitext{
    font-size: 13px;
}
.menusuite{
    padding-top: 15px;
    padding-bottom: 25px;;
text-align: right;
}
    
.menusuite> a{
    color: black;
}
/*MAIN DEUXIÈME PARAGRAPHE*/
h3{
    font-size: 18px;
    padding-left: 5%;
}
.mainmeilleur{
    background-color: rgb(196, 196, 196) ;
    margin-right: 35%;
    margin-left: 20%;
    padding: 1%;
    margin-top: 15px;
}
/*ASIDE*/

.asidethings{
 float: right;
 margin-right: 12%;
 width: 22%;
 height: 200px;
}
h2 { 
     font-size: 24px;
    padding-right: 200px;}
.textasideright{
    background-color: rgba(165, 42, 42, 0.699);
    font-size: 18px;
    color: white;
    padding-left: 15px;
    padding-top: 1px;
    
}
.textasideright>ul {
    margin: 0px;
    padding-left: 0px;
    padding-top: 3%;
}
.asideeau{
    background-color:rgb(196, 196, 196) ;
    float: left;
    margin-top: 15px;
    width: 18%;
    height: 250px;
    margin-bottom: 15px;
}
.asidefeu{
    background-color:rgb(196, 196, 196) ;
    float: right ;
    margin-right: 12%;
    width: 22%;
    height: 250px;
    margin-top: 15px;
    }
    footer{
        width: 100%;
        background-color: gray;
        text-align: center;
        padding-top: 26px;
        padding-bottom: 26px;
        margin-top: 1%;
        clear: both;
    }
