body{
    font-family: 'Roboto', sans-serif;
    margin:0;
}
p{
    font-size: 14px;
}
/*ENTÊTE*/

header{
    background-color: rgb(169, 193, 245);
    padding: 1%;
    padding-left: 105px;
}
h1{
    font-size: 64px;
    color: white;
    font-weight: bold;
    margin: 0;
}
.tete2{ 
    font-size: 36px;
    color: rgb(24, 24, 150);
    font-weight: bold;}
/*MENU NAV*/
.realnav{
    background-color: rgb(153, 107, 107);
    padding: 3px;
    padding-left: 73px;
    font-size: 17px;
}
li{
    display: inline;
}
.textmenu >a{
    text-decoration: none;
    color: white;
}
.textmenu2 >a{
    color: rgb(56, 13, 5);
}
/*MAIN*/
main{
}
.imagepikachu1{
    height: 500px;
    background: url(Pikachu.jpg);
    margin-top: 1%;
    background-size: 500px;
    width: 24%;
    float: left;
    margin-left: 4%;
    background-size: cover;
    margin-bottom: 2%;
    position: absolute;
} 
.imagepikachu2{
    height: 500px;
    background: url(Pikachu.jpg);
    margin-top: 1%;
    background-size: 500px;
    width: 24%;
    float: left;
    margin-left: 4%;
    background-size: cover;
    margin-bottom: 2%;
    position: absolute;}
.premierpika{
background-color: rgb(196, 196, 196) ;
margin-left: 28%;
padding:1%;
}
.pika2{
    margin-top: 1%;
}
.pika3{
    margin-top: 1%;
}
.pika4{
    margin-top: 1%;
}

p{
    font-size: 14px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 18px;
}
.pika2{
    margin-top: 1%;
}
/*footer*/
footer{
    width: 100%;
    background-color: gray;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 26px;
    margin-top: 3.6%;
    clear: both;
    font-size: 40px;
}

